/*******************************************************************************
 * 
 * Nagios TV Monitor
 * by Christopher P Carey 2010-12-09
 * 
 * main.js
 *
 ******************************************************************************/
 
var config_servername = "Nagios Home";
var config_timezone = "US/Pacific";
var config_icon = "images/favicon.ico";